@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scale-animate {
  transition: transform 0.3s ease; /* Smooth animation for scaling */
}

.scale-animate:hover {
  transform: scale(1.2); /* Scale up the element on hover */
}

/* Red and Blue striped background with wider stripes */
.stripe-red-blue {
    background: repeating-linear-gradient(
            45deg,                  /* Diagonal stripes */
            rgb(248, 208, 208),     /* Start with red */
            rgb(248, 208, 208) 20px, /* Wider red stripe width */
            rgb(191, 219, 254) 20px, /* Start of blue */
            rgb(191, 219, 254) 40px  /* Wider blue stripe width */
    );
}

/* Red and Transparent striped background with wider stripes */
.stripe-red-transparent {
    background: repeating-linear-gradient(
            45deg,                  /* Diagonal stripes */
            rgb(248, 208, 208),     /* Start with red */
            rgb(248, 208, 208) 20px, /* Wider red stripe width */
            transparent 20px,       /* Start of transparent */
            transparent 40px        /* Wider transparent stripe width */
    );
}

/* Blue and Transparent striped background with wider stripes */
.stripe-blue-transparent {
    background: repeating-linear-gradient(
            45deg,                  /* Diagonal stripes */
            rgb(191, 219, 254),     /* Start with blue */
            rgb(191, 219, 254) 20px, /* Wider blue stripe width */
            transparent 20px,       /* Start of transparent */
            transparent 40px        /* Wider transparent stripe width */
    );
}
